.board {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 50%;
}

.board-container{
	padding: 10px;
	position: relative;
}

.board-helper {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1vw solid white;
	pointer-events: none;
}

.alert {
	padding: 10px;
}

.grid-item {
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
	border: 0.45vw solid #0B0B0B;
}

.img-wrapper {
	padding: 5px;
}

