.button-wrapper {
	position: fixed;
	right: 45px;
	bottom: 30px;
	color: white;
	font-size: 30px;
	cursor: pointer;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-color: #ED0000;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
	transition: 0.5s;
}

.button-wrapper:hover{
	transition: 0.5s;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}

.button-wrapper:active{
	transition: 0.25s;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}

.button-wrapper .fa {
	position: absolute;
	top: 23%;
	right: 0;
	bottom: 0;
	left: 23%;
}

.button {
	
}