.arrow {
	margin: 5px;
	font-size: 25px;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	transition: .5s;
}

.arrow:hover {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
}

.arrow:active {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	transition: 0.2s;
}

.up {
	color: #38B066;
}

.down {
	color: #D92C2C;
}

.value {
	font-family: "Luckiest Guy";
	padding: 10px 0 0 5px;
	margin: 0;
	transform: translateX(-25%);
}

.form-wrapper{
	position: absolute;
	font-size: 25px;
	left: 7%;
}

.form-wrapper .fa {
	font-size: 45px;
}

