@import url("board.css");
@import url("game_view.css");
@import url("button_styles.css");
@import url("form.css");

/* STYLE RESET */

html, body, div {
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	border: 0;
}

* {
	box-sizing: border-box;
	font-family: "Luckiest Guy";
	letter-spacing: 2px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

.wrapper {
	padding: 80px 0 0 0;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes grow { from { font-size:0; } to { font-size:100%; } }
@-moz-keyframes grow { from { font-size:0; } to { font-size:100%; } }
@keyframes grow { from { font-size:0; } to { font-size:100%; } }

.grow {
  font-size:0;  /* make things invisible upon start */
  -webkit-animation:grow ease-in 1;  /* call our keyframe named grow, use animattion ease-in and repeat it only 1 time */
  -moz-animation:grow ease-in 1;
  animation:grow ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.25s;
  -moz-animation-duration:0.25s;
  animation-duration:0.25s;
}

.grow-fast{
	 -webkit-animation-duration:0.15s;
  -moz-animation-duration:0.15s;
  animation-duration:0.15s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.25s;
  -moz-animation-duration:0.25s;
  animation-duration:0.25s;
}
